
body{
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    background-image: url('images/bg.jpg') no-repeat ;
    /* background-size:cover;
    background-position:right; */
}
header::before{
    background: url(images/bg.jpg) no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
.container-1{
    /* border: 2px solid black; */
    display: flex;
    width: 97vw;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    /* background-color: rgb(153, 164, 173);
    opacity: 0.3; */
}
#left{
    height: 63px;
    margin: 7px;
}
#left img{
    width: 46.250px;
    filter: invert(100%);
    border-radius: 25px;
    display: block;
    margin:auto;
}
#left p{
    color: white; 
    text-align: center;
    margin: 0px;
    text-shadow: 3px 3px 8px black;
}
#mid{
    /* border: 2px solid black; */
    position: relative;
    left: 110px;
}
#mid a{
    color: white;
    text-shadow: 3px 3px 8px black;
}
#mid a[href="#1"]{
    color: rgb(34, 34, 159);
    text-shadow: 2px 2px 25px white !important;
}

#mid a:hover[href="#1"]{
    color: rgb(59, 59, 166);
}
#mid a:hover[href="#"]{
    color: rgb(153, 153, 170);
}
#mid li{
    list-style: none;
    display: inline-block;
    /* border: 2px solid black;  */
    margin: auto 25px;
    letter-spacing: 4px;
}
ul{
    margin: auto;
    padding: 0px;
}
.box-1 li a{
    text-decoration: none;
    color: black;
}
.box-1 li a[href="#1"]{
    color: blue;
}
#right{
    /* border: 2px solid black; */
}
#right li{
    /* border: 2px solid black; */
    display: inline-block;
    list-style: none;
    margin: auto 5px;
    letter-spacing: 2px;
}
#right li a{
    padding: 4px;
    text-shadow: 3px 3px 11px rgb(199, 187, 187);
}
#right li a[href="#2"]{
    position: relative;
    left: 11px;
}
#right li a:hover{
    border: 1px solid rgb(223, 215, 215);
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
    text-shadow: 2px 2px 11px black;
}
.box-1 li a{
    text-decoration: none;
    color: black;
}
.container-2 {
    display: flex;
    margin: auto;
    text-align: center;
    height: 50vh;
    justify-content: center;
    align-items: flex-end;
}
.container-2 h3{
   font-family: 'Roboto', sans-serif;
   font-style: italic;
   font-size: 50px;
   margin: 0px;
   color: rgb(0, 0, 0);
   opacity: 0.8;
   letter-spacing: 10px;
   text-shadow: 3px 3px 21px rgb(226, 211, 211);
   animation-name: yash-project3;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-delay: 3s;
}

@keyframes yash-project3 {
    0%{
        color: rgb(0, 0, 0);
    }
    25%{
        color: rgb(56, 50, 50);
    }
    50%{
        color: rgb(108, 100, 100);
    }
    75%{
        color: rgb(56, 50, 50);
    }
    100%{
        color: rgb(0, 0, 0);
    }
}

}
.container-2 p{
    margin: 0 auto;
    line-height: 30px; 
}
.container-2 .box-2 p{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    word-spacing: 5px;
    color: rgb(228, 205, 205);
    /* color: rgb(243, 124, 124);  */
    width: 50%;
    margin:auto;
    text-shadow: 3px 3px 15px rgb(206, 180, 180);
    /* text-shadow: 3px 3px 15px rgb(117, 89, 89);  */
}

